
$font-stack: 'Cerapro', sans-serif;

$blueXLight: #BBDCF5;
$blueLight: #2CAFE5;
$brandBlue: #006CB7;
$blueDark: #004A80;

$yellowXLight: #FFF6DB;
$yellowLight: #FFFF62;
$brandYellow: #FFD500;
$yellowDark: #EDBA00;

$redXLight: #F9C4AE;
$redLight: #F3987A;
$brandRed: #E3000B;
$redDark: #9B0600;

$greenXLight: #C0DFC3;
$greenLight: #9ACEA3;
$brandGreen: #00963E;
$greenDark: #006A2A;

$brandOrange: #EE7500;

$text1: #000;
$text2: #525252;
$text3: #808080;
$text4: #B1B1B1;
$background1: #fff;
$background2: #F5F5F5;
$background3: #E0E0E0;
